
extends layout

block content
  .container.mt-5
    .card
      .card-body
        h1.card-title.text-center Update User

        form(action=`/update/${user._id}`, method='POST')
          .form-group
            label(for='firstName') First Name:
            input(type='text', name='firstName', value=user.firstName, class='form-control', required)

          .form-group
            label(for='lastName') Last Name:
            input(type='text', name='lastName', value=user.lastName, class='form-control', required)

          .form-group
            label(for='dob') Date of Birth:
            input(type='date', name='dob', value=user.dob, class='form-control', required)

          .form-group
            label(for='address1') Address 1:
            input(type='text', name='address1', value=user.address1, class='form-control', required)

          .form-group
            label(for='address2') Address 2:
            input(type='text', name='address2', value=user.address2, class='form-control')

          .form-group
            label(for='city') City:
            input(type='text', name='city', value=user.city, class='form-control', required)

          .form-group
            label(for='postalCode') Postal Code:
            input(type='text', name='postalCode', value=user.postalCode, class='form-control', required)

          .form-group
            label(for='country') Country:
            input(type='text', name='country', value=user.country, class='form-control', required)

          .form-group
            label(for='phoneNumber') Phone Number:
            input(type='tel', name='phoneNumber', value=user.phoneNumber, class='form-control', required)

          .form-group
            label(for='email') Email:
            input(type='email', name='email', value=user.email, class='form-control', required)

          .form-group
            label(for='userNotes') User Notes:
            textarea(name='userNotes', class='form-control', rows='4')= user.userNotes

          button.btn.btn-primary(type='submit') Update User
