
extends layout

block content
  .container.mt-5
    .card
      .card-body
        h1.card-title.text-center User Updated Successfully

        p The following user has been updated successfully:

        ul.list-group
          li.list-group-item
            strong First Name:
            | #{user.firstName}
          li.list-group-item
            strong Last Name:
            | #{user.lastName}
          li.list-group-item
            strong Date of Birth:
            | #{user.dob}
          li.list-group-item
            strong Address 1:
            | #{user.address1}
          li.list-group-item
            strong Address 2:
            | #{user.address2}
          li.list-group-item
            strong City:
            | #{user.city}
          li.list-group-item
            strong Postal Code:
            | #{user.postalCode}
          li.list-group-item
            strong Country:
            | #{user.country}
          li.list-group-item
            strong Phone Number:
            | #{user.phoneNumber}
          li.list-group-item
            strong Email:
            | #{user.email}
          li.list-group-item
            strong User Notes:
            | #{user.userNotes}

        p.text-center
          a.btn.btn-primary(href='/') Go back to the Users List
